<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/searchpaper/search.css">
</head>
<body>
    <div class="search-container">
        <form method="POST" action="{% url 'search' %}">
            {% csrf_token %}
            <label for="search">Enter Your Search</label>
            <div class="input-group">
                {{ form.search }}
                <button type="submit" class="search-button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
        
    </div>
</body>
</html>




